.spacer {
  width: 20px;
}

.row {
  height: 70px;
}

.staked td {
  background-color: var(--color-primary-light);
}
.staked td:first-of-type {
  background-color: inherit;
}
.staked td:last-of-type {
  background-color: inherit;
}

.firstRow {
  height: 5px;
}

.lastRow {
  height: 5px;
}
.lastRow td {
  border-bottom: 1px solid gray;
}
.lastRow td:first-of-type {
  border: none;
}
.lastRow td:last-of-type {
  border: none;
}
