.buttonRaw {
  cursor: pointer;
}

.button {
  color: black;
  border-radius: 8px;
  padding: 5px 20px;
  background-color: yellow;
  border: none;
  text-transform: uppercase;
  width: 120px;
  cursor: pointer;
}
