.buttonRaw {
  cursor: pointer;
}

.button {
  color: black;
  border-radius: 8px;
  background-color: yellow;
  border: none;
  text-transform: uppercase;
  width: 140px;
  height: 26px;
  cursor: pointer;
  font-family: var(--font-countdown);
}

.button:disabled {
  background-color: var(--color-gray-button);
  color: white;
}
