.buttonRaw {
  cursor: pointer;
}

.button {
  color: black;
  border-radius: 5px;
  background-color: var(--color-primary);
  border: none;
  text-transform: uppercase;
  width: 90px;
  height: 18px;
  cursor: pointer;
  font-family: var(--font-countdown);
  font-size: var(--font-size-small);
}

.button:disabled {
  background-color: var(--color-gray-button);
  color: white;
}
