.spacer {
  width: 20px;
}

.row {
  height: 70px;
}

.column {
  padding-right: 20px;
}

.staked td {
  background-color: var(--color-primary-light);
}
.staked td:first-of-type,
.staked td:last-of-type {
  background-color: inherit;
}

.stakeRow td {
  border-top: 1px solid var(--color-primary-light);
}
.stakeRow td:first-of-type,
.stakeRow td:nth-of-type(2),
.stakeRow td:last-of-type {
  border-top: none;
}
