.info {
  margin-left: 10px;
  margin-top: 15px;
  position: absolute;
  /* Size of identicon */
  left: 46px;
  top: 0;
}

.name {
  font-family: var(--font-dashboard);
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.stakeLabel {
  font-family: var(--font-dashboard);
  font-size: var(--font-size-small);
}

.stakeValue {
  font-family: var(--font-dashboard);
  font-size: var(--font-size-medium);
}
