.dashboard {
  height: 440px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(../../icons/dna.svg), url(../../icons/decentral.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, right;
  background-position-y: center, bottom;
  background-size: 180px, 768px;
  overflow: scroll;
  background-color: var(--color-dashboard);
  z-index: 0;
  position: relative;
}

.accounts {
  margin-left: 130px;
  z-index: 2;
}

.pauseOverlay {
  background: linear-gradient(var(--color-bg-paused), var(--color-dashboard));
  height: 440px;
  width: 100%;
  opacity: 0.3;
  position: absolute;
}
