@import './vars.css';

.container {
  height: 40px;
  border-radius: 2px;
  background-color: white;
  border: 2px solid white;
  position: relative;
  display: inline-block;
  margin-left: var(--left-margin);
}

.item {
  display: inline-block;
}

.staked {
  background-color: var(--color-staked);
  height: 100%;
  width: 20px;
}

.separator {
  width: 1px;
  top: -7px;
  bottom: -7px;
  position: absolute;
  background-color: white;
}

.separator + .stakeable {
  margin-left: 1px;
}

.stakeable {
  background-color: var(--color-unused);
  height: 100%;
  width: 20px;
}

/* Dashboard */
.dashboard {
  white-space: nowrap;
}

.account {
  margin-right: 10px;
  display: inline-block;
}

.meta {
  /* margin-bottom: 60px; */
}

.identicon {
  display: inline-block;
  margin-bottom: 65px;
  position: relative;
}

.line {
  width: 2px;
  background-color: white;
  height: calc(60px + 2px);
  margin-left: var(--left-margin);
  position: absolute;
  top: calc(46px + 5px);
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 13px;
}

.stakes {
}
