.dashboard {
  height: 440px;
  width: 100%;
  background-image: url(../../icons/dna.svg), url(../../icons/decentral.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, right;
  background-position-y: center, bottom;
  background-size: 180px, 768px;
  background-color: var(--color-dashboard);
  z-index: 0;
  position: relative;
}

.accounts {
  margin-left: 130px;
  z-index: 2;
}

.accountsContainer {
  display: flex;
  align-items: center;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.pauseOverlay {
  background: linear-gradient(rgba(233, 78, 27, 0.3), rgba(15, 15, 27, 0.6));
}
