.footerContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin: 20px 20px 0 20px;
  background-color: var(--color-bg);
  text-align: center;
}

.footer {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-table-header);
}

.reward {
  display: flex;
  padding-left: 10px;
}
.legal {
  display: flex;
}

.versionInfo {
  font-family: var(--font-countdown);
  font-size: var(--font-size-small);
  color: var(--color-gray-alt-text);
  padding-right: 10px;
}
.name {
  font-family: var(--font-countdown);
  font-size: var(--font-size-small);
  text-decoration: none;
}

.yellow {
  color: var(--color-primary);
}

.gray {
  color: var(--color-gray-alt-text);
}

.red {
  color: var(--color-red-text);
}

.paddingRight {
  padding-right: 5px;
}

.spacer {
  min-width: 1px;
  height: 15px;
  background-color: var(--color-primary);
  margin-left: 10px;
  margin-right: 10px;
}
