@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');

:root {
  --font-primary: 'Ubuntu', sans-serif;
  --font-countdown: 'M PLUS Rounded 1c', sans-serif;
  --font-dashboard: 'Asap Condensed', sans-serif;
  --font-size-primary: 18px;
  --font-size-medium: 14px;
  --font-size-small: 10px;

  --color-bg: #1D1D1B;
  --color-primary: #FFED00;
  --color-primary-light: rgba(255, 237, 0, 25%);
  --color-table-header: #3c3c3b;
  --color-app-header: var(--color-table-header);
  --color-gray-text: #c6c6c6;
  --color-gray-button: #575756;
  --color-input-bg: var(--color-table-header);
  --color-top-rank: #95C11F;
  --color-low-rank: #E94E1B;
  --color-input-border: rgba(255, 255, 255, 0.3);
  --color-input-hover-border: #b3b3b3;

  --color-dashboard: #646363;
  --color-staked: #FCAB21;
  --color-reward: var(--color-primary);
  --color-unused: #F96943;
  --color-withdraw: #FB8F72;
  --color-blocked: #C25639;

  --size-icon: 24px;
  --size-identicon: 46px;
  --height-table-header: 40px;
}

body {
  color: white;
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);
}
