.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  font-size: var(--font-size-table-header);
  text-align: left;
}

.tableHead tr {
  height: 40px;
  background-color: var(--color-table-header);
}

.tableHead th {
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

.spacer {
  width: 20px;
}

.row {
  height: 70px
}

.row td {
  border-bottom: 1px solid gray;
}
.row td:first-of-type {
  border: none;
}
.row td:last-of-type {
  border: none;
}


.searchButton {
  cursor: pointer;
}

tr.search {
  background-color: var(--color-bg);
  border-bottom: 1px solid gray;
}
.search input{
  padding: 2px;
}

.activeSort {
  color: var(--color-primary);
}
